.main_menu{
    background-color: var(--bgMenu);
    padding: .5rem;
    margin-right: .6rem;
    height: 100vh;
    border-top-right-radius: 1rem;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.logo{
margin-right: 20rem;
color: var(--light);
}

.navigation a{
    padding: 10px;  /* Ajusta el tamaño del botón */
    font-size: .8rem;     /* Tamaño de la fuente */
    border-radius: 5px;  /* Bordes redondeados */
    background-color: var(--bgMenu);
    color: var(--gray);        /* Color del texto */
    border: none;        /* Sin borde */
    cursor: pointer; 
    font-weight: 600;
    text-align: start;
}

a:hover{
    background-color: var(--beige);
    width: 100%;
    color: var(--bgMenu);
}
