/*contenedor del menú principal*/
.main_menu {
  background-color: var(--bgMenu);
  padding: 0.5rem;
  margin-right: 0.6rem;
  height: 100vh;
  border-top-right-radius: 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.logo {
  margin-right: 20rem;
  color: var(--light);
}

.navigation a {
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: var(--bgMenu);
  color: var(--gray);
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-align: start;
}

a:hover {
  background-color: var(--beige);
  width: 100%;
  color: var(--bgMenu);
}
