/*contenedor de cada acción: añadir, cerrar, etc.*/
.container_options{
    margin-top:3rem;
}

.container_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.title_options{
    margin:.5rem .5rem .88rem .6rem;
    font-weight: 600;
}

input{
    margin: .5rem
}

button{
    margin: .55rem 0;
}

@media(max-width:768px){
    .container_form{
        flex-direction: column;
        align-items: baseline;
        padding: .5rem;
    }

    .container_form button{
        width: 50%;
    }
}